:root{
    --color1: rgb(243, 169, 169);
    --color2: rgb(168, 10, 10);
}

nav.menu ul li{
   display: inline-block;
}

nav.menu ul{
    list-style: none;
    padding: 0;
}

nav.menu a{
    background-color: var(--color1);
    padding: 0.5rem 1rem;
    display: inline-block;
    text-decoration: none;
    color: var(--color2);
    width:5rem;
    text-align: center;
    margin-right:1rem;
}

nav.menu .active,
nav.menu a:hover{
    background-color: var(--color2);
    color:white;
}
