




:root{
    --color1: #00a818;
    --color2: #3f8ab5;
  }
  
  body{
    font-family: Montserrat;
    color:#222222;
    padding:0;
    margin:0;
  }
  
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding:1rem;
  }
  
  img{
    width:100%;
  }
  
  header .logo{
    max-width:500px;
  }

  @media(max-width: 768px){
    header .logo{
      max-width:400px;
    }
  }

  @media(max-width: 576px){
    header .logo{
      max-width:300px;
    }
  }

  header nav.menu{
    position: relative;
  }

  header nav.menu .toggle{
    background-color: var(--color1);
    padding: 0.5rem 0.7rem;
    font-size: 1.3rem;
    border-radius: 0.2rem;
    cursor: pointer;
    display:none;
  }

  @media(max-width: 768px){
    header nav.menu:hover ul{
      display: block;
      position: absolute;
      right:0;
    }

    header nav.menu .toggle{
      display: inline-block;
    }

  }
  
  header nav.menu ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap:1rem;
  }

  @media(max-width: 768px){
    header nav.menu ul{
      display: none;
    }
  }
  
  
  header nav.menu a{
    text-decoration: none;
    background-color: var(--color1);
    color: white;
    padding: 0.5rem 1rem;
    display: inline-block;
  }

  @media(max-width: 768px){
    header nav.menu a{
      display: block;
    }
  }
  
  header nav.menu a:hover{
    background-color: var(--color2);
  }
  
  section.content{
    display: flex;
    gap:2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    padding:2rem;
  }
  
  main{
    flex:4;
    min-width: 200px;
  }
  
  aside{
    flex:1;
    background-color: #ececec;
    padding:1rem;
  }
  
  main .about-us{
    display:flex;
    gap:1rem;
    flex-wrap: wrap;
  }
  
  main .about-us div{
    flex:3;
    min-width: 100px;
  }
  
  main .about-us p{
    flex:5;
  }
  
  footer{
    background-color:#efefef;
    display:flex;
    justify-content: space-evenly;
    padding:2rem;
    flex-wrap: wrap;
    gap:2rem;
    
  }
  
  footer img{
    width: 250px;
  }
  
  footer .menu,
  footer .contact{
    list-style:none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    gap:1rem;
  }
  
  footer .contact i{
    color: var(--color1);
  }
  
  footer .menu{
    gap:0.5rem;
  }


  